*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eff2f1 !important;
}
header{
    background-color: #3b5d50 !important;
    
}
#base{
    text-decoration: underline  rgb(211, 187, 7) 5px;
    color: white;
}
#nav:hover{
    text-decoration: underline rgb(170, 151, 5) 7px  ;
    transition: 0.5s;
    color: white;
}


.textItem
{
    align-self: center;
    color: white;
}
.textItem h1
{
    font-weight: 600;
    font-size: 65px ;
    
}
.imgItem:hover
{
    opacity: 0.5;
    cursor: pointer;
}
/* end */
/* service section*/
.aboutUsText h6 {
    color:  rgb(94, 93, 93)!important;
    font-weight: 600;
}
.aboutUsText p {
    color:  rgba(115, 114, 114, 0.854)!important;
    font-weight: 400;
}
/* end */
/* shop section */
.textItem
{
    align-self: center;
    color: white;
}
.textItem h1
{
    font-weight: 600;
    font-size: 65px ;
    
}
.imgItem:hover
{
    opacity: 0.5;
    cursor: pointer;
}
.textshop h3{
    font-size: 35px;
    font-weight: 600;
}
.textshop button{
    cursor: pointer;
}
.textshop button:hover{
    opacity: 1;
    background-color: black;
}

.itemshop{
    cursor: pointer; 
    
}
.itemshop:hover{
    opacity: 0.7; 
}
.textshop p 
{
   color:  rgba(115, 114, 114, 0.854)!important;
}
.itemshop p {
    font-weight: 600;
}
.col-md-3 {
    position: relative; 
}
.layerShop
{
    background-color: rgba(119, 119, 119, 0.194);
    width: 80%;
    height: 0rem;
    opacity: 1;
    position: absolute;
    left: 10%;
    bottom: 4%;
    transition: 0.7s;
    cursor: pointer;
    border: none  ;
    border-radius: 8px ;
    
}
.col-md-3:hover .layerShop
{
    background-color: rgba(176, 160, 160, 0.169);
    width: 80%;
    height: 14rem;
    opacity: 1;
    position: absolute;
    left: 10%;
    bottom: 4%;
    transition: 0.7s;
    cursor: pointer;
}
/* end */
/* slider section */
.textslider i:hover{
    cursor: pointer;
    color:  rgba(115, 114, 114, 0.747)!important;
}
.textslider p {
    color:  rgba(115, 114, 114, 0.747)!important;
    font-weight: 600;
    font-size: larger;
}
.textslider img{
    border: none;
    border-radius: 50%;
} 
/* end */

/* team section */
.teamItems h3{
    text-decoration: underline;
}
.teamItems h5{
    color:  rgba(115, 114, 114, 0.747)!important;
    font-size: 15px;
}
.teamItems p{
    color:  rgba(115, 114, 114, 0.747)!important;
    font-size: 15px;
}
.teamItems h6{
    text-decoration: underline;

}
.teamItems h6:hover{
    text-decoration: none;
    cursor: pointer;
}
/* subscribe section */
#form
{
    border-radius: 10px;
    padding: 10px;
}
.btn {
    background: #3b5d50;
    border-color: #3b5d50;
    padding-left: 20px;
    padding-right: 21.5px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.imgSub:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}
.Subscribe label{
    color: #3b5d50;
    font-size: large;
    font-weight: 600 !important;
}
span i{
    color: rgba(128, 128, 128, 0.411);
}
/* end */


/* footer section */
.itemsFooter h6{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.769);

}
.itemsFooter p{
    color: rgba(42, 42, 42, 0.931);
    font-size: 15px;
    font-weight: 600;
}
.itemsFooter h6:hover{
    color: rgba(128, 128, 128, 0.741);
    transition: 0.2s;
    cursor: pointer;
}
.Furni-text{
    color: #3b5d50;
}
hr{
    width: 70%;
    height:2px;
    background-color: rgba(185, 183, 183, 0.294);
    margin: auto;
}
/* end */