/* header section */
body {
    overflow: hidden; /* Hide scrollbars */
  }
  #loading{
    background-color: rgba(0, 0, 0, 0.986);
    position: fixed;
    z-index: 999999999999999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eff2f1 !important;
}
header{
    background-color: #3b5d50 !important;
    
}
#base{
    text-decoration: underline  rgb(211, 187, 7) 5px;
    color: white;
}
#nav:hover{
    text-decoration: underline rgb(170, 151, 5) 7px  ;
    transition: 0.5s;
    color: white;
}
/* navBar */
#mainNav{
    position: fixed ;
    z-index: 999;
    width: 100%;
    transition: 0.3s;
}
/* end */
.textItem
{
    align-self: center;
    color: white;
}
.textItem h1
{
    font-weight: 600;
    font-size: 65px ;
    
}
.imgItem:hover
{
    opacity: 0.5;
    cursor: pointer;
}
#btnUp{
    position: fixed;
    top: 88px;
    right: 1vh;
    z-index: 999;
    display: none;
}
/* end */
/* shop section */
.textshop h3{
    font-size: 35px;
    font-weight: 600;
}

.textshop button{
    cursor: pointer;
}
.textshop button:hover{
    opacity: 1;
    background-color: black;
}

.itemshop{
    cursor: pointer; 
    
}
.itemshop:hover{
    opacity: 0.7; 
}
.textshop p 
{
   color:  rgba(115, 114, 114, 0.854)!important;
}
.itemshop p {
    font-weight: 600;
}
.col-md-3 {
    position: relative; 
}
.layerShop
{
    background-color: rgba(119, 119, 119, 0.194);
    width: 80%;
    height: 0rem;
    opacity: 1;
    position: absolute;
    left: 10%;
    bottom: 4%;
    transition: 0.7s;
    cursor: pointer;
    border: none  ;
    border-radius: 8px ;
    
}
.col-md-3:hover .layerShop
{
    background-color: rgba(176, 160, 160, 0.169);
    width: 80%;
    height: 14rem;
    opacity: 1;
    position: absolute;
    left: 10%;
    bottom: 4%;
    transition: 0.7s;
    cursor: pointer;
}
/* end */

/* about Us */
.aboutUsText h6 {
    color:  rgb(94, 93, 93)!important;
    font-weight: 600;
}
.aboutUsText p {
    color:  rgba(115, 114, 114, 0.854)!important;
    font-weight: 400;
}
.imgAbout img{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.imgAbout img:hover{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
}
/* end */
/* desgin section*/
.ourDesginText p{
    color:  rgba(115, 114, 114, 0.854)!important;
}
.ourDesginText li{
    color:  rgba(115, 114, 114, 0.854)!important;
}
.col-7 img
{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 500px;
}
.col-5 img
{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.imgDesign  img{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.Design{
    position: relative;
}
.imgDesign{
    position: absolute;
    width: 50%;
    top: 42%;
    left: 40%;
    padding: 50px;
}
/* end */
/* section read more */
.textitems h5 {
    font-weight: 600;
}
.textitems p {
    color:  rgba(115, 114, 114, 0.854)!important;
    font-size: small;
    
}
.textitems a {
    text-decoration: none;
    color: black !important;
    font-weight: 600;
    font-size: small;
}
.textitems a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.486) !important;
}
.items img{
    background-color: rgba(131, 121, 121, 0.226);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 35%;
}
.items img:hover{
    cursor: pointer;
    opacity: 0.8;
}
/* end */
/* slider section */
.textslider i:hover{
    cursor: pointer;
    color:  rgba(115, 114, 114, 0.747)!important;
}
.textslider p {
    color:  rgba(115, 114, 114, 0.747)!important;
    font-weight: 600;
    font-size: larger;
}
.textslider img{
    border: none;
    border-radius: 50%;
}
/* end */
/* Blog */
.texBlog a{
    text-decoration: underline;
    color: black !important;
}


.itemsBlog img {
    border: none;
    border-radius: 25px;
    width: 100%;
}
.itemsBlog img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.itemsBlog h6{
    font-size: small;
    font-weight: 600; 
    padding-left: 10px;
}
/* end */
/* subscribe */
#form
{
    border-radius: 10px;
    padding: 10px;
}
.btn {
    background: #3b5d50;
    border-color: #3b5d50;
    padding-left: 20px;
    padding-right: 21.5px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.imgSub:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}
.Subscribe label{
    color: #3b5d50;
    font-size: large;
    font-weight: 600 !important;
}
span i{
    color: rgba(128, 128, 128, 0.411);
    
}
/* end */
hr{
    width: 70%;
    height:2px;
    background-color: rgba(185, 183, 183, 0.294);
    margin: auto;
}
/* footer */
.itemsFooter h6{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.769);

}
.itemsFooter p{
    color: rgba(42, 42, 42, 0.931);
    font-size: 15px;
    font-weight: 600;
}
.itemsFooter h6:hover{
    color: rgba(128, 128, 128, 0.741);
    transition: 0.2s;
    cursor: pointer;
}
.Furni-text{
    color: #3b5d50;
}
/* end */
